.imageBackground{
    background-image: url('../assets/img/PW_logo.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 600px;
}