<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script>
    history.replaceState('data to be passed', 'Title of the page', "/");
</script>

<head>
    <meta charset="UTF-8"/>
    <title>Strona główna</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css} "/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Baza danych - Armator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bstarget="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Zaloguj</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">
            <label style="font-size:30px">Witaj na stronie głównej!</label>
            <div style="font-size:20px">Jeśli chcesz się zalogować, kliknij <a th:href="@{/login}"><b>tutaj</b></a> lub w
                prawym górnym rogu.
            </div>
        </div>
    </div>
    <div class="imageBackground" style="margin: auto"></div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>

