<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script>
    history.replaceState('data to be passed', 'Title of the page', "/");
</script>

<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css} "/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Baza danych - Armator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bstarget="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Strona główna</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/login}">Zaloguj (aktywne)</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post" th:action="@{/login}">
                <div class="form-group">
                    <label for="login" style="margin-bottom:5px">Nazwa użytkownika:</label>
                    <input id="login" type="text" placeholder="Wprowadź login" autocomplete="off" class="form-control" name="username"/>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label for="password" style="margin-bottom:5px">Hasło:</label>
                    <input id="password" type="password" placeholder="Wprowadź hasło" autocomplete="off"
                           class="form-control" name="password"/>
                </div>
                <div th:if="${param.error}" style="color:#002aff; margin-top:5px; margin-bottom:5px">
                    BŁĄD: Niepoprawny login lub hasło!
                </div>
                <div style="margin-top:15px">
                    <button class="btn btn-primary" type="submit" value="Sign In">Zaloguj się</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>